# Database
DB_NAME=healthcare_platform
DB_USER=postgres
DB_PASSWORD=your_password_here
DB_HOST=localhost
DB_PORT=5432

# Django
SECRET_KEY='insecure-4xmy3@mb*3jarsmkeysyr7$$a_-5yciwe4ml!qzmdl&k5t=!m=)'
DEBUG=True