* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Page layout */
body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 0.5fr minmax(90px, 12vw) 4fr;
  grid-template-rows: 1fr  minmax(80px, 15vh) 1fr;
  font-family: Arial, sans-serif;
  background-color: #fcfcfc;
  background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("Images/Patient-Doctor\ .jpg");
  background-size: cover;
  background-position: center;
}


/* Vertical part of cross with outlines*/
.vertical-bar {
    grid-column: 2;
    grid-row: 1/4;
    background-color: #3498db;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 2;
    
}

.vertical-bar img {
    height: 85%;
    width: auto;
    max-width: 85%;
}




/*Horizontal part of cross with outlines*/
.horizontal-bar{
    grid-column: 1/4;
    grid-row: 2;
    background-color: #3498db;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    z-index: 1;
      
}




/* Search container */
.search-container {
  display: flex;
  gap: 12px;
}

/* Input fields */
input {
  padding: 12px;
  border: 1px solid #000000;
  border-radius: 6px;
  font-size: 15px;
  width: 280px;
}

/* Buttons */
button {
  padding: 12px 18px;
  background-color: #3498db;
  border: none;
  color: rgb(0, 0, 0);
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-size: 30px;
}

button:hover {
  background-color: #2980b9;
}

/* Results container */
#resultsContainer {
  margin-top: 80px;   /* pushes results about an inch lower */
  min-height: 40px;   /* prevents layout jump */
}

/* Search result links */
.result-link {
  display: block;
  margin-top: 12px;
  font-size: 18px;
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
}

.result-link:hover {
  text-decoration: underline;
}

.nav-link {
    text-decoration: none;
    color: #000000;
    font-size: clamp(18px, 4vw, 54px);
    font-weight: bold;
  
}

.title{
  grid-column: 3;
  grid-row: 1;
  justify-self: start;
  align-self: end;

  transform: translateY(1.6vh);
  
  font-size: 3.5vw;
  z-index: 3;
}