{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rate my Hospital</title>
    <link rel="stylesheet" href="{% static 'homeStyle.css' %}">
</head>

<body>

 <header class="header"> 

     <div class="Title">Rate My Hospital</div>

     <div class="nav-links"> 
        <a href="login.html" class="signup-button">Login/Signup</a>
        <a href="{% url 'main:reviews' %}" class="nav-link">Reviews</a>      <!-- Review.html's content is inside homepg.html so change name when needed-->
     </div>

    </header>

<div class="home-wrapper">

   
  <div class="top-section"> 
    <div class="Quote"> 
        <h1>For those who come after</h1>
     </div>

     <div class="search-container">
        <form action="{%url 'main:home' %}" method="get" class="search-form">
            <input type="text" name="q" class="search-bar"
            placeholder="Search hospitals"
            value="{{query|default:''}}">
        </form>
        
        

        </div>
  </div>

     <div class="top-rated"> 

        <h2>Top Rated Hospitals</h2>
        <div class="card-grids">
            {% comment %}
            {% for facility in facilities|slice:":3" %}
                <div class="card">
                    <h3> {{ facility.name }}</h3>
                    <p>📍 {{facility.city }}, {{ facility.state}} </p>
                </div>
                {% endfor %}
                {% endcomment %}

            <div class="card">
                <h3> St. Mary Medical center</h3>
                <p>New York, NY</p>
            </div>
            <div class="card">
                <h3>General hospital of seattle</h3>
                <p>Seattle, WA</p>
            </div>
            <div class="card">
                <h3> Metro Health Institute</h3>
                <p>Chicago, IL</p>
            </div>
        </div>

        <div class="footer">
            <p> Rate My Hospital helps you 
                find the best workplace for your mental space.</p>
        </div>
     </div>

        


</div>


  



    
    <!-- 
    {% if query %}
        <div class="results-list">
            {% for facility in facilities %}
                <a href="{% url 'main:hospital_detail' facility.pk %}" class="result-item">
                    <div class="hospital-name">{{ facility.name }}</div>
                    <div class="hospital-meta">📍 {{ facility.city }}, {{ facility.state }} | {{ facility.full_address }}</div>
                </a>
            {% empty %}
                <div class="no-results">No hospitals found matching "{{ query }}"</div>
            {% endfor %}
        </div>
    
    {% endif %}
    -->
</body>
</html>