<!DOCTYPE html>
{% load static %}
<html lang="en">

<head> 
    <meta charset="UTF-8">

    <title> This is the review page </title>
    <link rel ="stylesheet" href="{% static 'reviewpageStyle.css' %}">
</head>

<body>

    <h1>Hospitals</h1>

 <div class="page-content"> 

    <div class="search-container">
        <input id="searchInput" type="text" placeholder="Search hospital...">
    </div>

    <div id="hospitalContainer"></div>

 </div>

    <script src="{% static 'reviewpage.js' %}"></script>

    
</body>
</html>